/* Home.css */

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    width: 100%;
    min-height: 100vh;
  
    padding: 1rem;
  }
  
  /* Header */
  .header-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-align: center;
  }
  
  .title {
    font-size: 2.5rem;
    line-height: 1.2;
  }
  
  /* Text styling */
  .note-text.press-start-2p-bold {
    text-align: center;
    font-size: 1.2rem; /* 👈 slightly smaller */
    line-height: 1.6;
    margin-top:.5rem;
  }

  .action-wrapper {
    text-align: center;
  
    margin-top: 4rem;
  }

  
  /* ------------------ */
  /* Responsive Design  */
  /* ------------------ */
  
  /* Tablet */
  @media (min-width: 640px) {
    .title {
      font-size: 4rem;
    }
  
    .note-text {
      font-size: 1.1rem;
    }
  }
  
  /* Desktop */
  @media (min-width: 1024px) {
    .title {
      font-size: 6rem;
    }
  }