.title-bar-right {
  position: relative;
  width: 100%;
  background-color: #1D56D1;
  clip-path: polygon(0 0, calc(100% - 40px) 0, 100% 100%, 0% 100%);
  color: white;
  font-family: 'Press Start 2P', cursive; /* 8-bit font */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3); /* Subtle glow */
  text-shadow: 1px 1px 0 #000, 2px 2px 0 #000, 3px 3px 0 #000; /* Adding a pixelated effect */
  image-rendering: pixelated; /* Apply to images if needed */
}
.title-text-right {
  font-size: 24px; /* Larger text for the title */
  padding: 10px;
  text-align: center;
}

.sub-title-text-right {
  font-size: 24px;
  padding: 10px 460px;
  text-align: center;
  white-space: nowrap;
  overflow: visible;
}

  .title-button {
    font-size: 14px;
    padding: 5px 10px;
    cursor: pointer;
}