@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Poppins:wght@500&family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html, body{
  height:100%;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./assets/988882.jpg'); /* Adjust the path if needed */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6); /* Set opacity here */
  z-index: -1; /* Ensure the overlay is behind the content */
}

@font-face {
  font-family: '8BitTitle';
  src: url('./assets/fonts/04B_30__.TTF') format('truetype');
  font-weight: 400; /* Regular weight */
  font-style: normal;
}

.bit-title-font {
  font-family: '8BitTitle', sans-serif; /* Fallback to sans-serif if the custom font fails to load */
}

.press-start-2p-regular {
  font-family: "Press Start 2P", serif;
  font-weight: 400;
  font-style: normal;
}

.socials-spacing {
  margin-top: 1rem; /* Adjust as needed */
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.about-spacing {
  margin-top: 2rem; /* Adjust as needed */
  display: flex;
  gap: 1rem;
  justify-content: center;
}


.description-container {
  border-radius: 8px;
  padding: 1rem 2rem; /* 1rem top/bottom, 2rem left/right */
  max-width: 800px; /* Optional: Restrict maximum width for better readability */
  margin: 0 auto; /* Center the container */
  color: white;
  text-align: left; /* Align text to the left for better readability */
}